body{
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    height: 100vh;
}

.clock {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.date {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.699);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}