body{
    font-family: Arial, sans-serif;
    background-color: #e66969;
    margin: 0;
    padding: 20px;
}
.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.toggle-button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #cd814e;
    color: white;
    transition: background-color 0.3s ease;
}
.toggle-button:hover{
    background-color: #ff6600;
}